@import './variables.scss';

.container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
  position: relative;
}

.title {
  text-align: center;
}

.submit {
  background-color: $primary-background;
  color: $font-color;
  border: 1px solid;
  padding: 20px 40px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $hover-background;
    color: $hover-font-color;
  }
}

.success {
  color: #000;
  text-align: center;
  padding: 30px 0 200px;
  text-transform: uppercase;
}